{% extends "::base.html.twig" %}

{% block title %}Miestietis.lt{% endblock %}

{% block navigation %}{% endblock %}

{% block body %}

    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
        {{ include('banner.html.twig') }}
    </div>
    <!-- banner end -->

    <!-- section list start -->
    <!-- ================ -->
    <div class="section">
        <div class="container">
            <h1 class="text-center title" id="list">Miesto problemos</h1>
            <div class="separator"></div>
            <p class="lead text-center">Naršykite. Pridėkite. Balsuokite.<br> Prisijunkite!</p>
            <br>
            <div class="row object-non-visible" data-animation-effect="fadeIn">
                <div class="col-md-12">

                    <!-- isotope filters start -->
                    <div class="filters text-center">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#" data-filter="*">Visi</a></li>
                            <li><a href="#" data-filter=".problems">Problemos</a></li>
                            <li><a href="#" data-filter=".initiatives">Iniciatyvos</a></li>
                            <li><a href="#" data-filter=".top10">Top 10</a></li>
                        </ul>
                    </div>
                    <!-- isotope filters end -->

                    <!-- list items start -->
                    <div class="isotope-container row grid-space-20">
                        {% for problem in problems %}
                            {{ include('items.html.twig') }}
                        {% endfor %}
                    </div>
                    <!-- list items end -->

                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

    {{ include('login.html.twig') }}

    {{ include('add.html.twig') }}

    {{ include('addInitiative.html.twig') }}

    {{ include('about.html.twig') }}

    {{ include('contact.html.twig') }}

    {{ include('profile.html.twig') }}

    {{ include('join.html.twig') }}

{% endblock %}