{% extends "::base.html.twig" %}

{% block title %}Miestietis.lt{% endblock %}

{% block body %}

    <!-- banner start -->
    <!-- ================ -->
    <div id="banner" class="banner">
        <div class="banner-image"></div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                            <h1 class="text-center">Mes esame <span>aktyvūs!</span></h1>
                        <p class="lead text-center"><span>Projektas skirtas pilietiškai aktyviems Kauno miesto gyventojams. </span> <br>
                            Būkime iniciatyvūs ir spręskime savo miesto problemoss Kartu!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <!-- section list start -->
    <!-- ================ -->
    <div class="section">
        <div class="container">
            <h1 class="text-center title" id="list">Miesto problemos</h1>
            <div class="separator"></div>
            <p class="lead text-center">Naršykite. Pridėkite. Balsuokite.<br> Prisijunkite!</p>
            <br>
            <div class="row object-non-visible" data-animation-effect="fadeIn">
                <div class="col-md-12">

                    <!-- isotope filters start -->
                    <div class="filters text-center">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#" data-filter="*">Visi</a></li>
                            <li><a href="#" data-filter=".problemos">Problemos</a></li>
                            <li><a href="#" data-filter=".iniciatyvos">Iniciatyvos</a></li>
                        </ul>
                    </div>
                    <!-- isotope filters end -->

                    <!-- list items start -->
                    <div class="isotope-container row grid-space-20">
                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-1.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-1">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-1-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            {#<h3>Problemos/iniciatyvos aprašymas</h3>#}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-1.jpg') }}" alt="">
                                                </div>
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default">Prisijungti</button>
                                            <button type="button" class="btn btn-sm btn-default">Papildyti</button>
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item iniciatyvos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-2.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-2">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Iniciatyvos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="project-2-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-2-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-2.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-3.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-3">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="project-3-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-3-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-3.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item iniciatyvos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-5.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-5">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Iniciatyvos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-5" tabindex="-1" role="dialog" aria-labelledby="project-5-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-5-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-5.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-6.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-6">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-6" tabindex="-1" role="dialog" aria-labelledby="project-6-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-6-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-6.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-8.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-8">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-8" tabindex="-1" role="dialog" aria-labelledby="project-8-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-8-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-8.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-9.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-9">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-9" tabindex="-1" role="dialog" aria-labelledby="project-9-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-9-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-9.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item problemos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-11.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-11">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Problemos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-11" tabindex="-1" role="dialog" aria-labelledby="project-11-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-11-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-11.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                        <div class="col-sm-6 col-md-6 isotope-item iniciatyvos">
                            <div class="image-box">
                                <div class="overlay-container">
                                    <img src="{{ asset('public/images/problem-photo-12.jpg') }}" alt="">
                                    <a class="overlay" data-toggle="modal" data-target="#project-12">
                                        <i class="fa fa-search-plus"></i>
                                        <span>Iniciatyvos</span>
                                    </a>
                                </div>
                                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Problemos/iniciatyvos pavadinimas</a>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="project-12" tabindex="-1" role="dialog" aria-labelledby="project-12-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span></button>
                                            <h4 class="modal-title" id="project-12-label">Problemos/iniciatyvos pavadinimas</h4>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Problemos/iniciatyvos aprašymas</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque sed, quidem quis praesentium, ut unde. Quae sed, incidunt laudantium nesciunt, optio corporis quod earum pariatur omnis illo saepe numquam suscipit, nemo placeat dignissimos eius mollitia et quas officia doloremque ipsum labore rem deserunt vero! Magnam totam delectus accusantium voluptas et, tempora quos atque, fugiat, obcaecati voluptatibus commodi illo voluptates dolore nemo quo soluta quis.</p>
                                                    <p>Molestiae sed enim laboriosam atque delectus voluptates rerum nostrum sapiente obcaecati molestias quasi optio exercitationem, voluptate quis consequatur libero incidunt, in, quod. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis officiis, autem earum tenetur quidem. Quae non dicta earum. Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at nesciunt.</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <img src="{{ asset('public/images/problem-photo-12.jpg') }}" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal end -->
                        </div>

                    </div>
                    <!-- list items end -->

                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

    <!-- section about start -->
    <!-- ================ -->
    <div class="section translucent-bg bg-image-1 blue">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
            <h1 id="about"  class="text-center title">Kam šis projektas?</h1>
            <div class="space"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-cog"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-check"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-desktop"></i>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-body text-right">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                        <div class="media-right">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="space visible-xs"></div>
                <div class="col-sm-6">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-leaf"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-area-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-child"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-codepen"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Žmogui, kuris</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <div class="default-bg space blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="text-center">Bendradarbiaukime!</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- section end -->

{% endblock %}
