<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Projektas politiškai aktyviems Kauno miesto gyventojams">
        <meta name="author" content="NFQ #3 komanda">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
        <link href="{{ asset('public/css/bootstrap.min.css') }}" rel="stylesheet">
        {#<link href="{{ asset('public/css/fileinput.min.css') }}" rel="stylesheet" >#}
        <link href="{{ asset('public/css/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
        <link href="{{ asset('public/css/animations.css') }}" rel="stylesheet">
        <link href="{{ asset('public/css/style.css') }}" rel="stylesheet">
        <link href="{{ asset('public/css/main.css') }}" rel="stylesheet" >
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}

        {% endblock %}
    </head>
    <body class="no-trans">

        <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

        <!-- header start -->
        <!-- ================ -->
        <header class="header fixed clearfix navbar navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <!-- header-left start -->
                        <!-- ================ -->
                        <div class="header-left clearfix">
                            <!-- logo -->
                            <div class="logo smooth-scroll">
                                <a href="{{ path('miestietis_main_homepage') }}"><img id="logo" src="{{ asset('public/images/logo.png') }}" alt="miestietis"></a>
                            </div>
                            <!-- name-and-slogan -->
                            <div class="site-name-and-slogan smooth-scroll">
                                <div class="site-name"><a href="{{ path('miestietis_main_homepage') }}">Miestietis.lt</a></div>
                                <div class="site-slogan">Būk pilietiškas</div>
                            </div>
                        </div>
                        <!-- header-left end -->
                    </div>
                    <div class="col-md-8">
                        <!-- header-right start -->
                        <!-- ================ -->
                        <div class="header-right clearfix">
                            <!-- main-navigation start -->
                            <!-- ================ -->
                            <div class="main-navigation animated">
                                <!-- navbar start -->
                                <!-- ================ -->
                                <nav class="navbar navbar-default" role="navigation">
                                    <div class="container-fluid">
                                        <!-- Toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>
                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li class="active"><a href="#banner">Pradinis</a></li>
                                                <li><a href="#list">Sąrašas</a></li>
                                                <li><a href="#about">Apie projektą</a></li>
                                                <li><a data-toggle="modal" data-target="#add" id="addForm">Paskelbk problemą!</a></li>
                                                {% if  user  != null %}
                                                    <li id="profileLi" rel="Connected">
                                                        <a href="{{ path('ajax_history') }}" class="profileHistory" data-toggle="modal" data-target="#profile-more" data-remote="false">
                                                            <img src="{{ user.getProfilePicture() }}" alt="{{ user.getId()  }}" class = "profile-picture">
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('fos_user_security_logout') }}">
                                                            <i class="fa fa-sign-out"></i>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                <li id="profileLi" rel="notConnected"><a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Prisijungti su Facebook"><i class="fa fa-facebook"></i></a></li>
                                                {% endif %}

                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!-- navbar end -->
                            </div>
                            <!-- main-navigation end -->
                        </div>
                        <!-- header-right end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- header end -->

        {% block body %}{% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('public/plugins/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/bootstrap/js/bootstrap.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/plugins/modernizr.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/plugins/isotope/isotope.pkgd.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/plugins/jquery.backstretch.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/plugins/jquery.appear.js') }}"></script>
            <script src="http://malsup.github.com/jquery.form.js"></script>
            {#<script type="text/javascript" src="{{ asset('public/plugins/fileinput.min.js') }}"></script>#}
            <script type="text/javascript" src="{{ asset('public/js/template.js') }}"></script>
            <script type="text/javascript" src="{{ asset('public/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
