<ul class="table-like">
    {% for item in items %}
        {% if item.name() is defined %}
        <li class="table-like__item problems">
            <div class="description">
                <h4><a data-toggle="modal" data-target="#project-{{ item.id() }}" data-dismiss="modal">{{ item.name() }}</a></h4>
                <i data-toggle="tooltip" data-placement="top" title="Ištrinkite problemą" class="fa fa-trash"></i>
            </div>
            <div class="type">Problema</div>
            <div class="votes">
                <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"><span>{{ item.votes() }}</span></i>
            </div>

            <div class="date">
                <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"><span>{{ item.date() }}</span></i>
            </div>
        </li>
        {% else %}
        <li class="table-like__item activeInitiatives">
            <div class="description">
                <h4><a data-toggle="modal" data-target="#project-initiative-{{ item.id() }}" data-dismiss="modal">{{ item.getProblemId().name() }}</a></h4>
                <i data-toggle="tooltip" data-placement="top" title="Ištrinkite problemą" class="fa fa-trash"></i>
            </div>
            <div class="type">Iniciatyva</div>

            <div class="joined">
                <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"><span>0</span></i>
            </div>
            <div class="date">
                <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"><span>{{ item.getInitiativeDate() }}</span></i>
            </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
