<div class="col-sm-6 col-md-6 isotope-item {% if problem.getIsActive() == 1 %}problems {% endif %} top10" xmlns="http://www.w3.org/1999/html"> <!-- Reikia laukelio papildomo skirstymui pvz problem.type() + parametro, kuris filtruotu pagal problem.votes() -->
    <div class="image-box">
        <div class="overlay-container">
            <img src="{{ asset('public/images/problems/' ~ problem.picture()) }}" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-{{ problem.id() }}">
                <i class="fa fa-search-plus"></i>
                <span>Plačiau</span>
            </a>
        </div>
        <section class="itemContent">
            {% if  user  != null and user == problem.getUSerId() %}
                <a href="{{ path('ajax_history') }}" class="profileHistory" data-toggle="modal" data-target="#profile-more" data-remote="false" data-dismiss="modal">
                    <img src="{{ problem.getUSerId().getProfilePicture() }}" class="profile-picture" alt="" data-toggle="tooltip" data-placement="top" title="Problemos autorius">
                </a>
            {% else %}
                <img src="{{ problem.getUSerId().getProfilePicture() }}" class="profile-picture" alt="" data-toggle="tooltip" data-placement="top" title="Problemos autorius">
            {% endif %}
            <div class="itemInfo">
                <h4>{{ problem.name() }}</h4>
                <div data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data"><i class="fa fa-calendar-plus-o"></i>{{ problem.date() }}</div>
                <div data-toggle="tooltip" data-placement="top" title="Problemai pritaria"><i class="fa fa-check-circle"></i><span class="votes-{{ problem.id() }}">{{  problem.votes() }}</span></div>
                <div data-toggle="tooltip" data-placement="top" title="Komentarų skaičius"><i class="fa fa-comments"></i>13</div>
                <div class="clearfix"></div>
                <div data-toggle="tooltip" data-placement="top" title="Problemos autorius">
                    {{ problem.getUserId().getFirstName }}
                    {{ problem.getUserId().getLastName() }}
                </div>
            </div>
            <div class="text-right">
                <a data-toggle="modal" data-target="#project-{{ problem.id() }}" >
                    <i data-toggle="tooltip" data-placement="top" title="Skaityti plačiau" class="fa fa-info-circle"></i>
                </a>
                <a data-toggle="modal" class="incVote {{ problem.status }}" probId="{{ problem.id() }}" url="{{ path('ajax_upvote') }}">
                    <i data-toggle="tooltip" data-placement="top" title="{{ problem.tooltip }}" class="fa fa-check-circle"></i>
                </a>
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="project-{{ problem.id() }}" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span>
                    </button>
                    <h4 id="editTitle" class="modal-title" id="project-1-label">{{ problem.name() }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('/public/images/problems/'~ problem.picture()) }}" alt="">
                        </div>
                        <div class="col-md-6">
                            {% if  user  != null and user == problem.getUSerId() %}
                                <a href="{{ path('ajax_history') }}" class="profileHistory" data-toggle="modal" data-target="#profile-more" data-remote="false" data-dismiss="modal">
                                    <img src="{{ problem.getUSerId().getProfilePicture() }}" class="profile-picture" alt="" data-toggle="tooltip" data-placement="top" title="Problemos autorius">
                                </a>
                            {% else %}
                                <img src="{{ problem.getUSerId().getProfilePicture() }}" class="profile-picture" alt="" data-toggle="tooltip" data-placement="top" title="Problemos autorius">
                            {% endif %}
                            <div class="itemInfo">
                                <div data-toggle="tooltip" data-placement="top" title="Problemos autorius">
                                    {{ problem.getUserId().getFirstName }} {{ problem.getUserId().getLastName() }}
                                </div>
                                <br> {# quick hax for tooltip, will not work is div display property is changed #}
                                <div data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data"><i class="fa fa-calendar-plus-o"></i>{{ problem.date() }}</div>
                                {% if  user  != null and user == problem.getUSerId() %}

                                    <div id="editItem" data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" url="{{ path('ajax_problemEdit') }}" probId="{{ problem.id() }}"><i class="fa fa-pencil"></i>Redaguoti</div>

                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <p id="editDescription">{{ problem.description() }}</p>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="wrap-item-info-left">
                        <div data-toggle="tooltip" data-placement="top" title="Problemai pritaria"><i class="fa fa-check-circle"></i><span class="votes-{{ problem.id() }}">{{  problem.votes() }}</span></div>
                        <div data-toggle="tooltip" data-placement="top" title="Komentarų skaičius"><i class="fa fa-comments"></i>13</div>

                        <address data-toggle="tooltip" data-placement="top" title="Problemos adresas">
                            <i class="fa fa-map-marker"></i><p id="editAddress">Karaliaus Mindaugo pr. 38</p><br>
                        </address>
                    </div>
                    <div class="wrap-buttons-right">
                        <a data-toggle="modal" class="incVote {{ problem.status }}" probId="{{ problem.id() }}" url="{{ path('ajax_upvote') }}"><i data-toggle="tooltip" data-placement="top"  title="{{ problem.tooltip }}" class="fa fa-check-circle"></i></a>
                        <a data-toggle="modal"><i data-toggle="tooltip" data-placement="top" title="Komentarai" class="fa fa-comments" url="{{ path('ajax_commentLoad')}}" item="problem" item_id="{{ problem.id() }}"></i></a>
                        <a data-toggle="modal" class="openInitiativeModal" data-target="#addInitiative" probId="{{ problem.id() }}"><i data-toggle="tooltip" data-placement="top" title="Skelbti iniciatyvą" class="fa fa-bullhorn"></i></a>
                    </div>
                </div>
                <div class="modal-comments text-center" id="comment_list_{{ problem.id() }}">
                    {# here goes comment list #}
                    {% if  user  != null %}
                        <div class="modal-comments--post">
                            {# nerodyti jeigu useris neprisijunges #}
                            <img src="{{ problem.getUSerId().getProfilePicture() }}" class="profile-picture" alt="">
                            <textarea class="form-control comment_input" placeholder="Jūsų komentaras" title="Įrašykite savo komentarą" required></textarea>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
</div>
