<div class="col-sm-6 col-md-6 isotope-item problems top10"> <!-- Reikia laukelio papildomo skirstymui pvz problem.type() + parametro, kuris filtruotu pagal problem.votes() -->
    <div class="image-box">
        <div class="overlay-container">
            <img src="{{ asset('public/images/problems/' ~ problem.picture()) }}" alt="">
            <a class="overlay" data-toggle="modal" data-target="#project-{{ problem.id() }}">
                <i class="fa fa-search-plus"></i>
                <span>Plačiau</span>
            </a>
        </div>
        <section class="itemContent">
            <h4>{{ problem.name() }}</h4>
            <div class="itemInfo">
                <div data-toggle="tooltip" data-placement="top" title="Problemos autorius">{#<i class="fa fa-user"></i>#}
                    <img src="{{ problem.getUSerId().getProfilePicture() }}"class = "profile-picture" alt=""> {{ problem.getUserId().getFirstName }} {{ problem.getUserId().getLastName() }}</div>
                <div data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data"><i class="fa fa-calendar-plus-o"></i> {{  problem.date() }}</div>
                <div data-toggle="tooltip" data-placement="top" title="Problemai pritaria"><i class="fa fa-check-circle"></i> {{  problem.votes() }}</div>
                {#<div data-toggle="tooltip" data-placement="top" title="Prisijungusių žmonių skaičius"><i class="fa fa-users"></i> 0</div>#}
            </div>
            <div class="clearfix"></div>
            <div class="text-left">
                <a data-toggle="modal" data-target="#project-{{ problem.id() }}" >
                    <i data-toggle="tooltip" data-placement="top" title="Skaityti plačiau" class="fa fa-info-circle"></i>
                </a>
                <a data-toggle="modal">
                    <i data-toggle="tooltip" data-placement="top" title="Pritariu problemai" class="fa fa-check-circle"></i>
                </a>{#
                <a data-toggle="modal">
                    <i data-toggle="tooltip" data-placement="top" title="Prisijungti prie iniciatyvos" class="fa fa-arrow-circle-right disabled"></i>
                </a>#}
            </div>
        </section>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="project-{{ problem.id() }}" tabindex="-1" role="dialog" aria-labelledby="project-1-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Uždaryti</span>
                    </button>
                    <h4 class="modal-title" id="project-1-label">{{ problem.name() }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ asset('/public/images/problems/'~ problem.picture()) }}" alt="">
                        </div>
                        <div class="col-md-6">
                            <div class="itemInfo">
                                <div data-toggle="tooltip" data-placement="top" title="Problemos autorius">{#<i class="fa fa-user"></i>#}<img src="{{ problem.getUSerId().getProfilePicture() }}"class = "profile-picture" alt=""> {{ problem.getUserId().getFirstName }} {{ problem.getUserId().getLastName() }}</div>
                                <div data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data"><i class="fa fa-calendar-plus-o"></i> {{  problem.date() }}</div>
                                <div data-toggle="tooltip" data-placement="top" title="Problemai pritaria"><i class="fa fa-check-circle"></i> {{  problem.votes() }}</div>
                                <div data-toggle="tooltip" data-placement="top" title="Prisijungusių žmonių skaičius"><i class="fa fa-users"></i> 38</div>
                            </div>
                            <div class="clearfix"></div>
                            <p>{{ problem.description() }}</p>
                            <address data-toggle="tooltip" data-placement="top" title="Problemos adresas">
                                <i class="fa fa-map-marker"></i> Karaliaus Mindaugo pr. 38<br>
                            </address>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a data-toggle="modal"><i data-toggle="tooltip" data-placement="top" title="Pritariu problemai" class="fa fa-check-circle"></i></a>
                    {#<a data-toggle="modal"><i data-toggle="tooltip" data-placement="top" title="Prisijungti prie iniciatyvos" class="fa fa-arrow-circle-right"></i></a>#}
                    <a data-toggle="modal"><i data-toggle="tooltip" data-placement="top" title="Skelbti iniciatyvą" class="fa fa-bullhorn"></i></a>
                    {#<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Uždaryti</button>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
</div>
