<!-- Modal less -->
<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                {#<h2 class="modal-title text-center">Profilis</h2>#}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="footer-content text-center">
                            {% if  user  != null %}
                            <img src="{{ user.getProfilePicture() }}" alt="{{ user.getId()  }}" class = "profile-picture_medium">
                                {# last_login turbut rodo kaip paskutini o ne pries paskutini #}
                            <p class="last-login">Paskutinis prisijungimas: {{ user.getLastLogin|date('Y-m-d H:i:s') }}</p>
                                {# t.b. ajax'ine uzklausa #}
                            <a data-toggle="modal" data-target="#profile-more" data-dismiss="modal"><i data-toggle="tooltip" data-placement="top" title="Peržiūrėti istoriją" class="fa fa-angle-double-down"></i></a>
                            {% endif %}
                            <a href="{{ path('fos_user_security_logout') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <a href="{{ path('fos_user_security_logout') }}"><input type="submit" value="Atsijungti" class="btn btn-default"></a>

                    <!-- here should add ajax request from database -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->

<!-- Modal more -->
<div class="modal fade" id="profile-more" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                {% if  user  != null %}
                    <img src="{{ user.getProfilePicture() }}" alt="{{ user.getId()  }}" class = "profile-picture_medium">
                    <div>
                        <h4>
                            {{ user.getFirstName() }} {{ user.getLastName() }}
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </h4>
                        <p class="last-login">Paskutinis prisijungimas: {{ user.getLastLogin|date('Y-m-d H:i:s') }}</p>
                    </div>
                    <div class="counter-wrapper">
                        <div class="item-counter">
                            <span>28</span><br>
                            Sukurta <br>
                            problemų
                        </div>
                        <div class="item-counter">
                            <span>13</span><br>
                            Pritarta <br>
                            problemų
                        </div>
                    </div>
                {% endif %}
            </div>
            <hr>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">

                        <!-- isotope filters start -->
                        <div class="filters text-center filters-history">
                            <ul class="nav nav-pills nav-hist">
                                <li class="active"><a href="#" data-filter="*">Visi</a></li>
                                <li><a href="#" data-filter=".uploads">Įkėlimai</a></li>
                                <li><a href="#" data-filter=".activeInitiatives">Aktyvios iniciatyvos</a></li>
                            </ul>
                        </div>
                        <!-- isotope filters end -->

                        <!-- list items start -->
                        <ul class="table-like">
                            <li class="table-like__item uploads">
                                <div class="description">
                                    <h4>Griuvėsiai prie akropolio</h4>
                                    <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                                        <span>Redaguoti</span>
                                    </i>
                                </div>
                                <div class="type">Problema</div>

                                <div class="votes">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> 0</i>
                                </div>
                                <div class="joined">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 0</i>
                                </div>
                                <div class="date">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> 2015-11-20</i>
                                </div>
                            </li>

                            <li class="table-like__item uploads">
                                <div class="description">
                                    <h4>Duobėtos gatvės</h4>
                                    <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                                        <span>Redaguoti</span>
                                    </i>
                                </div>
                                <div class="type">Problema</div>

                                <div class="votes">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> 256</i>
                                </div>
                                <div class="joined">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 23</i>
                                </div>
                                <div class="date">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> 2015-11-20</i>
                                </div>
                            </li>

                            <li class="table-like__item activeInitiatives">
                                <div class="description">
                                    <h4>Vietų darželiuose trūkumas</h4>
                                    <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                                        <span>Redaguoti</span>
                                    </i>
                                </div>
                                <div class="type">Problema</div>

                                <div class="votes">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> 1000</i>
                                </div>
                                <div class="joined">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 329</i>
                                </div>
                                <div class="date">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> 2015-11-20</i>
                                </div>
                            </li>

                            <li class="table-like__item activeInitiatives">
                                <div class="description">
                                    <h4>Griuvėsiai prie akropolio</h4>
                                    <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                                        <span>Redaguoti</span>
                                    </i>
                                </div>
                                <div class="type">Problema</div>

                                <div class="votes">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> 0</i>
                                </div>
                                <div class="joined">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 0</i>
                                </div>
                                <div class="date">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> 2015-11-20</i>
                                </div>
                            </li>

                            <li class="table-like__item activeInitiatives">
                                <div class="description">
                                    <h4>Pavojinga Baltų pr. ir J. Grušo sankryža</h4>
                                    <i data-toggle="tooltip" data-placement="top" title="Redaguoti problemą" class="fa fa-pencil">
                                        <span>Redaguoti</span>
                                    </i>
                                </div>
                                <div class="type">Problema</div>

                                <div class="votes">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-check-circle"> 65</i>
                                </div>
                                <div class="joined">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemai pritaria" class="fa fa-users"> 8</i>
                                </div>
                                <div class="date">
                                    <i data-toggle="tooltip" data-placement="top" title="Problemos įkėlimo data" class="fa fa-calendar-plus-o"> 2015-11-20</i>
                                </div>
                            </li>
                        </ul>

                        <div class="history-content">

                        </div>

                        <div class="text-center">
                            <a class="moreHistory" href="{{ path('ajax_history') }}"><i data-toggle="tooltip" data-placement="top" title="Peržiūrėti istoriją" class="fa fa-angle-double-down"></i></a>
                        </div>
                        <!-- list items end -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <a href="{{ path('fos_user_security_logout') }}"><input type="submit" value="Atsijungti" class="btn btn-default"></a>

                    <!-- here should add ajax request from database -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->